<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <springProperty scope="context" name="version" source="version.number"/>
    <springProperty scope="context" name="name" source="spring.application.name"/>

    <springProfile name="!docker">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>./datavolume/loggg.log</file>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{
                    "AppVersion":"${version}",
                    "AppName":"${name}"
                    }
                </customFields>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!docker">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>/loggg.log</file>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{
                    "AppVersion":"${version}",
                    "AppName":"${name}"
                    }
                </customFields>
            </encoder>
        </appender>
    </springProfile>

    <logger name="com.lul" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>